body
  {
    font-size: 20px;
}

h1
  {
    font-size: 200%;
    color: red;
}

h2
  {
    font-size: 1.3em;
}

ul.circle
  { 
    list-style-type: circle;
}

ul.face
  {
    list-style-image:url("images/owenBullet.png")
}
