body
  {
    font-size: 20px;
    width:1000px;
    float:center;
    margin: auto;
}

h1
  {
    font-size: 150%;
    color: red;
    color: rgba(0, 0, 100, 0.5);
}

h2
  {
    font-size: 1.0em;
}


ul.circle
  { 
    list-style-type: circle;
}

ul.face
  {
    list-style-image:url("images/owenBullet.png")
}


div.maintext{
    width: 700px;
    float:left;
    margin: 10px;
}

div.listexample{
    width: 260px;
    float:right;
    margin: 10px;
}

nav
    {
        margin:auto;
        border:0px;
        padding:10px;
        background-color: #DF7401;
        float:right;
        min-width: 450px;
        max-width: 1600px;
}