@font-face {
font-family: "Technically but not";
src: url("fonts/technically_but_not_actually.eot");
src: 
url("fonts/technically_but_not_actually_-_ttf-webfont.woff") format("woff"),
url("fonts/technically_but_not_actually_-_ttf-webfont.otf") format("opentype"),
url("fonts/technically_but_not_actually_-_ttf-webfont.svg#filename") format("svg");
}

body
  {
    font-size: 20px;
    width:1000px;
    float:center;
    margin: auto;
    font-family: arial;
    background-color: whitesmoke;
    background-color:rgb(185,179,175);
}

h1
  {
    font-family: 'Technically but not', Arial;
    font-size: 210%;
    color: red;
    color: rgba(0, 0, 100, 0.5);
}

h2
  {
    font-family: 'Technically but not', Arial;
    font-size: 1.5em;
}


ul.circle
  { 
    list-style-type: circle;
}

nav{
    float: right;
    width: 800px;
}
ul.nav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsla(25, 95%, 60%,0.8);
    
}


ul.nav li
{
    float: left;
}

ul.nav a
    {
    display: block;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

ul.nav a:hover{
    background-color: #ff982b;
}

div.maintext
{
    margin: auto;
    margin-top: 30px;
    width: 50%;
    padding: 10px;
    text-align: center
}

div.maintext h2{
    font-size: 150%;
}

img.imagemain
    {
        display: block;
        margin: auto;
        border-radius: 10px;
    }

div.home-page-boxart
{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 20px;
}

div.boxart-grid
    {
    display: block;
    margin: auto;
    }

img.boxart-home
{
    height: 200px;
    border-radius: 5px;
}

div.home-page-events
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    width: 500px;
    margin: auto;
}

div.home-page-events h1
{
    text-align: right;
}

div.eventitem-event
{
    padding-top: 10px;
}

a.button
{
    display: block;
    padding: 15px;
    font-size: 150%;
    color: black;
    text-decoration: none;
    background-color: #DF7401;
    font-family: 'Technically but not', Arial;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}

a.button:hover
{
    background-color: #ff982b;
    
}

table
{

}

th, td {
    padding: 15px;
}

tr:hover
{
    background-color: #aca5a0;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: gainsboro}

th {
    background-color: dimgrey;
    color: silver;
}
